body {
    background-color: black;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px; 
    border: solid black;
    background: white;
    margin: 2% auto 0 auto;
}

.grid div {
    width: 20px;
    height: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 75px;
}

h3 {
    color: white;
}

#scoreBoard {
    display: flex;
}

button {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 5px 5px;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall {
    background-color: blue;
}

.power-pellet {
    background-color: green;
    border-radius: 10px;
}

.blinky {
    background-color: red;
    border: 0px;
}

.pinky {
    background-color: pink;
    border: 0px;
}

.inky {
    background-color: cyan;
    border: 0px;
}

.clyde {
    background-color: orange;
    border: 0px;
}

.scared-ghost {
    background-color: aquamarine;
    border: 0px;
}

.pac-man {
    background-color: yellow;
    border-radius: 10px;   
}